<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


<h1>Posts</h1>
<table>
  <thead>
	<tr>
  	<th>Content</th>
  	<th>Date</th>
  	<th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @user.microposts.each do |micropost| %>
  	<tr>
    	<td><%= micropost.content %></td>
    	<td><%= micropost.created_at.to_s.to_d %></td>
      <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	</tr>
	<% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
